/* ==============
ESTILOS GLOBALES
================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --degradado: linear-gradient(90deg, var(--limon), var(--verde));
  --border: 1px solid none;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--limon);
  color: white;
}

html {
  font-size: 62.4%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--degradado);
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

/* ===========
NAVEGACIÓN MENÚ
============== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border: var(--border);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    border: var(--border);
}

header [type="checkbox"] {
    display: none;
}

.logo {
    font-size: 2rem;
    color: var(--verde);
}

.logo span {
    color: var(--limon);
}

.navbar a {
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--verde);
    border: var(--border);
}

.navbar a:hover {
    color: var(--limon);
}