/* ==============
ESTILOS GLOBALES
================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --degradado: linear-gradient(90deg, var(--limon), var(--verde));
  --border: 1px solid none;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--limon);
  color: white;
}

html {
  font-size: 62.4%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--degradado);
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

/* ===========
NAVEGACIÓN MENÚ
============== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border: var(--border);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--verde);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  border: var(--border);
}

header [type="checkbox"] {
  display: none;
}

.logo {
  font-size: 2rem;
  color: var(--verde);
}

.logo span {
  color: var(--limon);
}

.navbar a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--verde);
  border: var(--border);
}

.navbar a:hover {
  color: var(--limon);
}

/* ==============
PÁGINA DE INICIO
============== */
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/inicio_fondo.png) no-repeat;
  background-size: cover;
  background-position: center;
  border: var(--border);
}

.image {
  display: flex;
  justify-content: center;
}

.audifono {
  width: 35vw;
  animation: float 3s linear infinite;
  border: var(--border);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.content {
  padding: 0;
  border: var(--border);
}

.content h3 {
  font-size: 5.5rem;
  color: var(--verde);
  text-transform: uppercase;
  border: var(--border);
}

.content h3 span {
  color: var(--limon);
  text-transform: uppercase;
}

.content p {
  font-size: 1.7rem;
  color: var(--verde);
  padding: 1rem 0;
  border: var(--border);
}

/* =============
PÁGINA DE DETALLES
============= */
.detalles .heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.caja-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.caja {
  flex: 1 1 30rem;
  background: white;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.2s linear;
}

.caja img {
  height: 15rem;
}

.caja h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.caja p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

/* =============
PÁGINA DE ACERCA
===============*/
.acerca {
  background: url(../img/fondo_2.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.acerca .heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.columna {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.columna .image {
  flex: 1 1 30rem;
}

.columna .image img {
  width: 100%;
}

.columna .content {
  flex: 1 1 30rem;
}

.columna .content h3 {
  font-size: 3rem;
  color: #333;
}

.columna .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.columna .content .bottons a:last-child {
  margin-left: 2rem;
}

/* ===================
SECCIÓN DE SUSCRIBETE
==================== */
.suscribete {
  text-align: center;
  padding: 5rem 1rem;
  background: url(../img/fondo_sub.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.suscribete h3 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.suscribete p {
  color: whitesmoke;
  font-size: 1.6rem;
  margin: 2rem auto;
  width: 70rem;
}

.suscribete form {
  display: flex;
  max-width: 70rem;
  border: 0.2rem solid whitesmoke;
  padding: 0.5rem;
  border-radius: 5rem;
  margin: 2rem auto;
  height: 5.5rem;
}

.suscribete [type="email"] {
  padding: 0 2rem;
  font-size: 1.7rem;
  background: none;
  width: 100%;
  color: white;
  text-transform: none;
  background: none;
}
.suscribete [type="email"]::placeholder {
  color: whitesmoke;
  text-transform: capitalize;
}

.suscribete [type="submit"] {
  background: white;
  width: 20rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  cursor: pointer;
}

.suscribete [type="submit"]:hover {
  color: var(--limon);
}

/* ================
PÁGINA DE OPINIONES
 ================*/
.opiniones .heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.opiniones .caja-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.opiniones .caja-contenedor .caja {
  background: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex: 1 1 30rem;
  border-radius: 0.5rem;
}

.opiniones .caja-contenedor .caja .fa-atom {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 8rem;
  color: var(--limon);
  opacity: 0.3;
}

.opiniones .caja-contenedor .caja .user img {
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
}

.opiniones .caja-contenedor .caja .user h3 {
  color: var(--verde);
  font-size: 2rem;
}

.opiniones .caja-contenedor .caja .user .stars i {
  color: var(--verde);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.opiniones .caja-contenedor .caja .comentarios {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem;
}

/* =============
PÁGINA DE PRECIOS
============= */
.precios .heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.precios .caja-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.precios .caja-contenedor .caja {
  flex: 1 1 28rem;
  margin: 1rem;
  padding: 1rem;
  background: white;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.precios .caja-contenedor .caja:nth-child(2), 
.precios .caja-contenedor .caja:hover {
  border: .2rem solid var(--limon);
}

.precios .caja-contenedor .caja .titulo {
  color: var(--verde);
  font-size: 2.5rem;
  padding-top: 1rem;
}

.precios .caja-contenedor .caja .tipos {
  font-size: 4rem;
  color: var(--limon);
  padding: 1rem 0;
}

.precios .caja-contenedor .caja .tipos span {
  font-size: 2rem;
}

.precios .caja-contenedor .caja ul {
  padding: 1rem 0;
  list-style: none;
}

.precios .caja-contenedor .caja ul li {
  padding: 1.7rem;
  color: #333;
  padding: .5rem 0;
}

.precios .caja-contenedor .caja ul li .fa-check {
  color: lightseagreen
}

.precios .caja-contenedor .caja ul li .fa-times {
  color: red
}

/* ================
PÁGINA DE CONTACTO
================= */
.contactos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.contactos .image {
  flex: 1 1 40rem;
}

.contactos .image img {
  width: 100%;
  padding: 2rem;
}

.contactos form {
  flex: 1 1 40rem;
  padding: 3rem 3rem 9rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  border-radius: .5rem;
  background-color: white;
  position: relative;
}

.posicion_btn {
  position: absolute;
  right: 30px;
}

.contactos .heading {
  text-align: center;
  padding: 0;
  padding-bottom: 2rem;
}

.contactos form .inputcaja {
  position: relative;
}

.contactos form .inputcaja input, 
.contactos form .inputcaja textarea {
  width: 100%;
  background: none;
  color: #333;
  margin: 1.5rem 0;
  padding: .5rem 0;
  font-size: 1.7rem;
  border-bottom: .1rem solid rgba(0, 0, 0, .1);
  text-transform: none;
}

.contactos form .inputcaja textarea {
  resize: none;
  height: 13rem;
}

.contactos form .inputcaja label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
  transition: .2s linear;
}

.contactos form .inputcaja input:focus ~ label,
.contactos form .inputcaja input:valid ~ label,
.contactos form .inputcaja textarea:focus ~ label,
.contactos form .inputcaja textarea:valid ~ label{
  top: -.5rem;
  font-size: 1.5rem;
  color: var(--limon);
}